flake8==3.7.9
-e git+https://github.com/Amsterdam/GOB-Core.git@v0.16.7l#egg=gobcore
-e git+https://github.com/Amsterdam/GOB-Config.git@v0.4.11b#egg=gobconfig
pytest==3.6.3
pytest-cov==2.5.1
requests==2.20.0
